.animation {
    position: relative
}

.animation svg, .animation img {
    position: absolute;
}

.smoke-1 {
    color: #999999;
}

.smoke-2 {
    color: #777777;
}

.smoke-3 {
    color: #555555;
}

.size-1 {
    width: 20px;
    height: 20px;
}

.size-2 {
    width: 30px;
    height: 30px;
}

.size-3 {
    width: 40px;
    height: 40px;
}